---
import Base from '../layouts/base.astro';
import Card from '../components/card.astro';
import PrimeReactButton from '../components/button/button.tsx';
import PrimeVueButton from '../components/button/button.vue';

const theme = (await import(`primereact/passthrough/tailwind`).then((i) => i.default)) as any;
console.log(theme.default.button);

// const theme = await import(`../themes/shadcn`).then((i) => i.default);
---

<Base>
  <div class="flex flex-col gap-4 flex-1">
    <Card title="Button" framework="react">
      <PrimeReactButton theme={theme.default} client:load />
    </Card>
  </div>
  <div class="flex flex-col gap-4 flex-1">
    <Card title="Button" framework="vue">
      <PrimeVueButton theme={theme.default} client:load />
    </Card>
  </div>
  <!-- <div class="flex flex-col gap-4 flex-1">
    <Card title="Button" framework="angular">Meep</Card>
  </div> -->
</Base>
